notes.txt
.classpath
bin/*
gen/
ic_launcher-web.png
lint.xml
proguard-project.txt
project.properties
res/drawable-hdpi/
res/drawable-mdpi/
res/drawable-xhdpi/
res/drawable-xxhdpi/
res/drawable/ic_launcher.png
res/values-sw720dp-land/
res/values-v11/
res/values-v14/
.gitignore~
settings/org.eclipse.jdt.core.prefs
.settings/

